<div class="header">
        <h1>{{pagename}}</h1>

        <div class="nav">
                <div class="navin">  <a href="/">Main</a> </div>
                <div class="navin"> <a href="/about">About</a> </div>
        </div>
</div>
